# SLURM adroit submissions
*.out
*.slurm

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.nfs*
*.ipynb

# Personal files
scores_for_table-study10k.csv
logRegTest.py

# Files too large for github
models/
data/
models
data
